<h1>Demo#hello</h1>
<p>Hello world!</p>

<%= 1+1 %>
<br/>
<br/>
<% target = "world" %>
<%= "Hello #{target} again!" %>
<br/>
<br/>
<% @array.each do |n| %>
<%=	n%><br/>
<% end %>
<br/>
<br/>
<a href="/demo/index">Index Page 1</a>
<br/>
<br/>
<%= link_to('Index Page 2', {:action => 'index'})%>